In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# font 설정
import platform
path = "c:/Windows/Fonts/malgun.ttf"
from matplotlib import font_manager, rc

if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname=path).get_name()
    rc('font', family=font_name)
else :
    print('Unknown system... sorry~')
import seaborn as sns

# 경고문 숨기기
import warnings
warnings.filterwarnings(action='ignore')

In [119]:
df = pd.read_csv('../다콘프로젝트/제주데이터/201901-202003.csv', encoding='utf-8', parse_dates=['REG_YYMM'])

In [121]:
df202003 = df[df['REG_YYMM'] == '202003']
df202003 = df202003[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'AMT']]
df202003.head()

         REG_YYMM CARD_SIDO_NM STD_CLSS_NM      AMT
23437284   202003           강원  건강보조식품 소매업  2529000
23437285   202003           강원  건강보조식품 소매업  1133650
23437286   202003           강원  건강보조식품 소매업   570800
23437287   202003           강원  건강보조식품 소매업  4192828
23437288   202003           강원  건강보조식품 소매업  3358900

In [122]:
df202003 = df202003.pivot_table(index=['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM'], values='AMT', aggfunc=np.sum)

In [236]:
df202003[df202003['CARD_SIDO_NM']=='제주']

    REG_YYMM CARD_SIDO_NM            STD_CLSS_NM          AMT
499   202003           제주             건강보조식품 소매업     80401810
500   202003           제주                골프장 운영업   1227910031
501   202003           제주            과실 및 채소 소매업    612861477
502   202003           제주      관광 민예품 및 선물용품 소매업     51733910
503   202003           제주   그외 기타 분류안된 오락관련 서비스업       313500
504   202003           제주           그외 기타 종합 소매업   3282513600
505   202003           제주           기타 대형 종합 소매업   4391495540
506   202003           제주           기타 수상오락 서비스업      1606700
507   202003           제주            기타 외국식 음식점업    412219149
508   202003           제주                 기타 주점업    891112022
509   202003           제주          기타음식료품위주종합소매업   3616119943
510   202003           제주              내항 여객 운송업     66432400
511   202003           제주                   마사지업      2660000
512   202003           제주                    면세점   2590699901
513   202003           제주               비알콜 음료점업    769358749
514   202003           제주            빵 및 과자류 소매업   1052147937
515   202003           제주               서양식 음식점업   1712389156
516   202003           제주                수산물 소매업    552245270
517   202003           제주                   슈퍼마켓  10327678507
518   202003           제주     스포츠 및 레크레이션 용품 임대업   1752880768
519   202003           제주                    여관업    267271952
520   202003           제주                   여행사업      3933600
521   202003           제주                    욕탕업    240490900
522   202003           제주                 육류 소매업   1000851231
523   202003           제주               일반유흥 주점업   1707254256
524   202003           제주                일식 음식점업    885288520
525   202003           제주                자동차 임대업    207616003
526   202003           제주            전시 및 행사 대행업     55301230
527   202003           제주              정기 항공 운송업    199721907
528   202003           제주                중식 음식점업    828641378
529   202003           제주             차량용 가스 충전업    565815334
530   202003           제주            차량용 주유소 운영업   7841132488
531   202003           제주                체인화 편의점   6246694584
532   202003           제주                 택시 운송업       471100
533   202003           제주  피자 햄버거 샌드위치 및 유사 음식점업    943596719
534   202003           제주                한식 음식점업  15671285018
535   202003           제주                    호텔업    494941440
536   202003           제주          화장품 및 방향제 소매업    467288060
537   202003           제주               휴양콘도 운영업     38719765

# 소비자 심리지수 적용을 해보자

In [67]:
sobi = pd.read_csv('../다콘프로젝트/제주데이터/9.2.4 소비자동향조사(한국은행_지.csv', encoding='cp949')

In [68]:
sobi = sobi.rename(columns={'Unnamed: 0':'BRANCH_CODE별'})

In [69]:
sobi2 = sobi.T

In [70]:
sobi2

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
BRANCH_CODE별,Jan-19,Feb-19,Mar-19,Apr-19,May-19,Jun-19,Jul-19,Aug-19,Sep-19,Oct-19,Nov-19,Dec-19,Jan-20,Feb-20,Mar-20,Apr-20,May-20,Jun-20
부산,57,65,61,64,62,63,63,60,63,66,68,69,73,63,36,29,31,41
대구,58,62,64,66,62,63,59,56,61,64,66,66,70,57,34,26,34,42
경북,58,62,64,66,62,63,59,56,61,64,66,66,70,57,34,26,34,42
인천,62,66,69,71,69,69,66,64,68,71,73,73,75,64,40,31,37,42
광주,73,79,76,79,76,78,77,69,77,77,79,80,84,71,46,40,41,51
전남,73,79,76,79,76,78,77,69,77,77,79,80,84,71,46,40,41,51
대전,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44
충남,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44
울산,64,68,66,68,65,66,64,63,70,70,71,71,77,65,35,31,33,42
경기,68,72,71,74,70,70,69,65,69,73,75,76,79,68,41,33,38,44
강원,64,69,70,71,67,68,68,63,69,68,72,71,74,66,42,34,40,46
충북,64,69,71,70,68,68,68,60,65,65,67,69,73,65,43,34,39,47
전북,71,74,75,77,74,74,75,70,73,76,79,77,83,72,48,40,45,52
경남,61,64,64,66,65,64,64,61,63,65,67,71,70,63,36,28,30,37
제주,65,64,68,73,70,73,72,69,70,72,70,72,72,59,28,32,36,NaN
세종,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44
서울,66,72,71,75,70,70,68,64,68,72,74,72,79,65,35,30,35,43

In [71]:
sobi2.columns = sobi2.iloc[0]

In [72]:
sobi2 = sobi2.iloc[1:]

In [204]:
sobi2.to_csv('sobi.csv', encoding='utf-8-sig')

In [98]:
sobi3 = pd.read_csv('../다콘프로젝트/제주데이터/sobi.csv', encoding='cp949')

In [82]:
sobi3

,BRANCH_CODE별,201901,201902,201903,201904,201905,201906,201907,201908,201909,201910,201911,201912,202001,202002,202003,202004,202005,202006
0,부산,57,65,61,64,62,63,63,60,63,66,68,69,73,63,36,29,31,41.0
1,대구,58,62,64,66,62,63,59,56,61,64,66,66,70,57,34,26,34,42.0
2,경북,58,62,64,66,62,63,59,56,61,64,66,66,70,57,34,26,34,42.0
3,인천,62,66,69,71,69,69,66,64,68,71,73,73,75,64,40,31,37,42.0
4,광주,73,79,76,79,76,78,77,69,77,77,79,80,84,71,46,40,41,51.0
5,전남,73,79,76,79,76,78,77,69,77,77,79,80,84,71,46,40,41,51.0
6,대전,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44.0
7,충남,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44.0
8,울산,64,68,66,68,65,66,64,63,70,70,71,71,77,65,35,31,33,42.0
9,경기,68,72,71,74,70,70,69,65,69,73,75,76,79,68,41,33,38,44.0
10,강원,64,69,70,71,67,68,68,63,69,68,72,71,74,66,42,34,40,46.0
11,충북,64,69,71,70,68,68,68,60,65,65,67,69,73,65,43,34,39,47.0
12,전북,71,74,75,77,74,74,75,70,73,76,79,77,83,72,48,40,45,52.0
13,경남,61,64,64,66,65,64,64,61,63,65,67,71,70,63,36,28,30,37.0
14,제주,65,64,68,73,70,73,72,69,70,72,70,72,72,59,28,32,36,NaN
15,세종,67,72,70,74,71,72,69,63,69,72,74,75,76,68,42,32,37,44.0
16,서울,66,72,71,75,70,70,68,64,68,72,74,72,79,65,35,30,35,43.0

In [101]:
cols = ['202004']

In [105]:
data_price = sobi3.melt(id_vars=['BRANCH_CODE별'], value_vars=cols)

In [108]:
data_price = data_price.sort_values('BRANCH_CODE별', ascending=True)

In [116]:
data_price = data_price.set_index('BRANCH_CODE별')

In [118]:
data_price

             variable  value
BRANCH_CODE별
강원             202004     34
경기             202004     33
경남             202004     28
경북             202004     26
광주             202004     40
대구             202004     26
대전             202004     32
부산             202004     29
서울             202004     30
세종             202004     32
울산             202004     31
인천             202004     31
전남             202004     40
전북             202004     40
제주             202004     32
충남             202004     32
충북             202004     34

In [128]:
df202003 = df202003.reset_index()

In [130]:
merge = df202003.merge(data_price, left_on='CARD_SIDO_NM', right_on='BRANCH_CODE별', how='left')

In [132]:
merge.head()

  REG_YYMM CARD_SIDO_NM        STD_CLSS_NM         AMT variable  value
0   202003           강원         건강보조식품 소매업    96059012   202004     34
1   202003           강원            골프장 운영업  2915797995   202004     34
2   202003           강원        과실 및 채소 소매업   994816943   202004     34
3   202003           강원  관광 민예품 및 선물용품 소매업    13317300   202004     34
4   202003           강원    그외 기타 스포츠시설 운영업     2075000   202004     34

In [133]:
merge.drop('variable', inplace=True, axis=1)

In [138]:
merge['moon'] = (merge['AMT'] * merge['value']) / 100

# submission용

In [141]:
merge2 = merge[['REG_YYMM', 'CARD_SIDO_NM', 'STD_CLSS_NM', 'moon']]

In [144]:
merge2 = merge2.rename(columns={'moon':'AMT'})

In [145]:
merge2

    REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
0     202003           강원             건강보조식품 소매업  3.266006e+07
1     202003           강원                골프장 운영업  9.913713e+08
2     202003           강원            과실 및 채소 소매업  3.382378e+08
3     202003           강원      관광 민예품 및 선물용품 소매업  4.527882e+06
4     202003           강원        그외 기타 스포츠시설 운영업  7.055000e+05
..       ...          ...                    ...           ...
604   202003           충북  피자 햄버거 샌드위치 및 유사 음식점업  4.471834e+08
605   202003           충북                한식 음식점업  5.491844e+09
606   202003           충북                    호텔업  5.184507e+06
607   202003           충북          화장품 및 방향제 소매업  1.458197e+08
608   202003           충북               휴양콘도 운영업  4.329387e+06

[609 rows x 4 columns]

In [156]:
submission = pd.read_csv('../다콘프로젝트/제주데이터/submission.csv', index_col=0)
submission = submission.loc[submission['REG_YYMM']==202004]
submission = submission[['REG_YYMM','CARD_SIDO_NM', 'STD_CLSS_NM']]

In [157]:
submission

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM
id
0      202004           강원             건강보조식품 소매업
1      202004           강원                골프장 운영업
2      202004           강원            과실 및 채소 소매업
3      202004           강원      관광 민예품 및 선물용품 소매업
4      202004           강원   그외 기타 분류안된 오락관련 서비스업
..        ...          ...                    ...
692    202004           충북  피자 햄버거 샌드위치 및 유사 음식점업
693    202004           충북                한식 음식점업
694    202004           충북                    호텔업
695    202004           충북          화장품 및 방향제 소매업
696    202004           충북               휴양콘도 운영업

[697 rows x 3 columns]

In [158]:
submission = submission.merge(merge2, left_on=['CARD_SIDO_NM', 'STD_CLSS_NM'], right_on=['CARD_SIDO_NM', 'STD_CLSS_NM'], how='left')
submission = submission.fillna(0)

In [160]:
submission.drop('REG_YYMM_y', inplace=True, axis=1)

In [161]:
submission = submission.rename(columns={'REG_YYMM_x':'REG_YYMM'})

In [166]:
submission.to_csv('submission.csv', encoding='utf-8-sig', sep=',')

In [190]:
AMT = list(submission['AMT'])

In [197]:
submission2 = pd.read_csv('../다콘프로젝트/제주데이터/submission.csv')

In [198]:
AMT = list(submission['AMT'])*2

In [199]:
submission2['AMT'] = AMT

In [202]:
submission2.to_csv('submission.csv', encoding='utf-8-sig', index=False)

In [203]:
submission

     REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
0      202004           강원             건강보조식품 소매업  3.266006e+07
1      202004           강원                골프장 운영업  9.913713e+08
2      202004           강원            과실 및 채소 소매업  3.382378e+08
3      202004           강원      관광 민예품 및 선물용품 소매업  4.527882e+06
4      202004           강원   그외 기타 분류안된 오락관련 서비스업  0.000000e+00
..        ...          ...                    ...           ...
692    202004           충북  피자 햄버거 샌드위치 및 유사 음식점업  4.471834e+08
693    202004           충북                한식 음식점업  5.491844e+09
694    202004           충북                    호텔업  5.184507e+06
695    202004           충북          화장품 및 방향제 소매업  1.458197e+08
696    202004           충북               휴양콘도 운영업  4.329387e+06

[697 rows x 4 columns]

In [230]:
submission2[submission2['REG_YYMM'] == 202007].AMT = 0

In [229]:
submission2

        id  REG_YYMM CARD_SIDO_NM            STD_CLSS_NM           AMT
0        0    202004           강원             건강보조식품 소매업  3.266006e+07
1        1    202004           강원                골프장 운영업  9.913713e+08
2        2    202004           강원            과실 및 채소 소매업  3.382378e+08
3        3    202004           강원      관광 민예품 및 선물용품 소매업  4.527882e+06
4        4    202004           강원   그외 기타 분류안된 오락관련 서비스업  0.000000e+00
...    ...       ...          ...                    ...           ...
1389  1389    202007           충북  피자 햄버거 샌드위치 및 유사 음식점업  4.471834e+08
1390  1390    202007           충북                한식 음식점업  5.491844e+09
1391  1391    202007           충북                    호텔업  5.184507e+06
1392  1392    202007           충북          화장품 및 방향제 소매업  1.458197e+08
1393  1393    202007           충북               휴양콘도 운영업  4.329387e+06

[1394 rows x 5 columns]

In [231]:
t = pd.read_csv('../다콘프로젝트/제주데이터/T.csv', encoding='cp949')

In [233]:
t.to_csv('submission.csv', encoding='utf-8-sig', index=False)